body{
    background-color: #efe8e0;
}

img{
    width: 100%;
}

.grid{
    display: grid;
    grid-template-columns: 40% 20% 40%;
}

@media screen and (min-width: 1024px) {
    img{
        width: 50%;
    }
}

  